<nav class="navbar navbar-expand navbar-dark bg-dark">
  <a href="#" class="navbar-brand">Angular 11</a>
  <div class="navbar-nav">
    <li class="nav-item">
      <a routerLink="tutorials" class="nav-link">Tutorials</a>
    </li>
    <li class="nav-item">
      <a routerLink="add" class="nav-link">Adicionar</a>
    </li>
  </div>
</nav>
<app-alert></app-alert>
<div class="container-fluid">
  <div class="row">
    <div class="col-12 mt-2">
      <router-outlet></router-outlet>
    </div>
  </div>
</div>
