<div class="list row">
  <div class="col-md-8">
    <div class="input-group mb-3">
      <input
        type="text"
        class="form-control"
        placeholder="Procure aqui....."
        [(ngModel)]="title"
      />
      <div class="input-group-append">
        <button
          class="btn btn-outline-secondary"
          type="button"
          (click)="procurarPorTitulo()">
          Buscar
        </button>
      </div>
    </div>
  </div>

  <div class="col-md-6">
    <h4>Lista de Tutorial</h4>
    <ul class="list-group">
      <li
        class="list group-item"
        *ngFor="let tutorial of tutorials; let i = index"
        [class.active]="i == currentIndex"
        (click)="atribuirTutorialAtivo(tutorial, i)"
      >
        {{ tutorial.title }}
      </li>
    </ul>
    <button
      class="m-3 btn btn-sm btn-danger"
      (click)="removerTodosTutoriais()">Remover Todos
    </button>
  </div>

  <div class="col-md-6">
    <div *ngIf="currentTutorial">
      <h4>Tutorial</h4>
      <div>
        <label><strong>Titulo:</strong></label> {{ currentTutorial.title }}
      </div>
      <div>
        <label><strong>Descrição:</strong></label> {{ currentTutorial.description }}
      </div>
      <div>
        <label><strong>Status:</strong></label>
        {{ currentTutorial.published ? "Publicado" : "Aguardando" }}
      </div>

      <a
        routerLink="/tutorials/{{ currentTutorial.id }}"
        class="badge badge-warning">Editar
      </a>
    </div>
    <div *ngIf="!currentTutorial">
      <br />
      <p>Favor, selecione um tutorial</p>
    </div>
  </div>
</div>
